@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0px;
    height: 100vh;
    color: #fff;
    background-color: #1e1e1e;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.projects {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

a {
    color: cyan;
}
